{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} Administrar categorías {% endblock %}

{% block content %}

	<h1>Administrar categorías</h1>

	<ul>
		{% for category in categories %}
		<li><a href="/admin.category.edit?key={{ category.key() }}">{{ category.title|escape }}</a>
		{% if category.subcategories %}
		<ul>
		{% for subcategory in category.subcategories %}
		<li><a href="/admin.category.edit?key={{ subcategory.key() }}">{{ subcategory.title|escape }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
		</li>
		{% endfor %}
	</ul>
	
	<p> <label for="test">Ejemplo selector categorías:</label>
	<select name="test">
		{% for category in categories %}
		<optgroup label="{{ category.title|escape }}">
		{% if category.subcategories %}
		{% for subcategory in category.subcategories %}
		<option value="subcategory.key()">{{ subcategory.title|escape }}</option>
		{% endfor %}
		{% endif %}
		</optgroup>
		{% endfor %}
	</select>
	</p>
	
	<p class="options"><a href="/admin.category.edit">Nueva categoría</a></p>


{% endblock %}