{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Néstor Salceda <nestor.salceda at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" href="/static/css/960.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/text.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="container_12">
		<div class="grid_6">
			<p id="heading" style="margin-left:20px"><a href="/"><img src="/static/images/logo3.png" alt="debug_mode=ON" class="icon" height="50" /></a></p>
		</div>
		<div class="grid_6">
			
			<p class="options" style="text-align: right">
			{% if sess.user %}
				Hola <a href="/user/{{ sess.user_nickname }}"><strong>{{ sess.user_nickname }}</strong></a>{% if sess.user_rol == 'admin' %} | <a href="/admin"><strong>Admin</strong></a>{% endif %} | <a href="/user.edit">preferencias</a> | <a href="/user.logout">desconectar</a> | <a href="/html/faq.html" ><strong>FAQ</strong></a> 
			{% else %}
				<strong><a href="{{ app.url }}/user.login?redirect_to={{ redirect }}">Login</a></strong> o <a href="{{ app.url }}/user.register?redirect_to={{ redirect }}">regístrate</a>.
				¿<a href="{{ app.url }}/user.forgotpassword?redirect_to={{ redirect }}">Olvidaste la contraseña</a>? | 	<a href="/html/faq.html" ><strong>FAQ</strong></a>
			{% endif %}

			</p>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_12" id="dolphincontainer">
		  <div id="dolphinnav"> 
			<form action="/search" method="get" accept-charset="utf-8" id="search">
				<div>
					<input type="text" name="q" value="{{ q|escape }}" class="search" size="29" />
					<select name="t">
						<option value="items" {% if t == 'items' %}selected="selected"{% endif %}>Artículos</option>
						<option value="groups" {% if t == 'groups' %}selected="selected"{% endif %}>Grupos</option>
						<option value="forums" {% if t == 'forums' %}selected="selected"{% endif %}>Foros</option>
					</select>
					<input type="submit" value="Buscar" />
				</div>
			</form>
			{#
			<form action="/search.result" id="search">
			  <div>
				<input type="hidden" name="cx" value="007982268110512831605:w2rogzztfio" />
				<input type="hidden" name="cof" value="FORID:9" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="text" name="q" size="31" class="search" />
				<input type="submit" name="sa" value="Buscar" />
			  </div>
			</form>
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
			#}
			<ul>
				<li><a href="/"{% if tab == '/' %} class="current"{% endif %}>						<span>Inicio</span>		</a></li>
				<li><a href="/item.list"{% if tab == '/item.list' %} class="current"{% endif %}>	<span>Artículos</span>	</a></li>
				<li><a href="/group.list"{% if tab == '/group.list' %} class="current"{% endif %}>	<span>Grupos</span>		</a></li>
				<li><a href="/forum.list"{% if tab == '/forum.list' %} class="current"{% endif %}>	<span>Foros</span>		</a></li>
				<li><a href="/user.list"{% if tab == '/user.list' %} class="current"{% endif %}>	<span>Usuarios</span>	</a></li>
			</ul>
		  </div>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_3">
			{% include 'inc-quick-links.html' %}
{% block sidebar %}{% endblock %}
			<div class="box">
				<p class="title">Estadísticas de la web</p>
				<ul>
					<li>{{ app.users }} usuarios</li>
					<li>{{ app.items }} artículos</li>
					<li>{{ app.groups }} grupos</li>
					<li>{{ app.threads }} temas en foros</li>
				</ul>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_9">
{% block content %}{% endblock %}
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_12" id="footer">
			<div class="grid_12 alpha omega">
				<div style="text-align: right">
					<p>
						&copy; Copyright 2008 debug_mode=ON <br/>
						
						<a href="/html/aviso-legal.html">Aviso legal</a> |
						<a href="mailto:contacto@debugmodeon.com">contacto@debugmodeon.com</a> |
						<a href="/html/faq.html">FAQ</a>
					</p>
					<p>
						Iconos gracias a <strong><a href="http://www.famfamfam.com/lab/icons/silk/">Silk icons</a></strong>. Creative Commons, <a href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons Attribution 2.5 License">algunos derechos reservados</a>.
					</p>
				</div>
			</div>
		</div>
		<div class="clear">&nbsp;</div>
	</div>

{% block javascript %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5469597-1");
pageTracker._trackPageview();
</script>
</body>
</html>
