{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Néstor Salceda <nestor.salceda at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<script type="text/javascript" charset="utf-8">
		if (top.location != location) {
			top.location.href = document.location.href;
		}
	</script>
	<link rel="stylesheet" href="/static/css/960.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/text.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/static/themes/default/style.css" type="text/css" />
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
	<title>{% block title %}{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="container_12">
		<div class="grid_7">
			<p id="heading">
				<a href="/"><img src="/static/images/logo4.png" alt="debug_mode=ON Red social y de contenidos en español. Programación, desarrollo y diseño web, administración de sistemas, redes,..." class="icon" style="height:100px" /></a>
			</p>
		</div>
		<div class="grid_5">
			
			<p class="header right">
			{% if sess.user %}
				<span class="header_box1">Hola
					<a href="/user/{{ user.nickname }}"><strong>{{ user.nickname }}</strong></a>
				{% if user.rol == 'admin' %}
					| <a href="/admin"><strong>admin</strong></a>
				{% endif %}
					| <a href="/user.edit"><strong>preferencias</strong></a>
				</span>
				
				<span class="header_box2">
					<a href="{{ logout }}">desconectar</a>
					| <a href="/html/faq.html"><strong>FAQ</strong></a>
				</span>
			{% else %}
				<span class="header_box1">
					<strong><a href="{{ app.url }}/user.login?redirect_to={{ redirect }}">login</a></strong>
					o <a href="{{ app.url }}/user.register?redirect_to={{ redirect }}">regístrate</a>
				</span>
				<span class="header_box2">
					<a href="{{ app.url }}/user.forgotpassword?redirect_to={{ redirect }}">¿Olvidaste la contraseña?</a>
				</span>
			{% endif %}
			</p>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_12">
		  <div id="navcontainer">
		  <div id="nav">
			<form action="/search" method="get" accept-charset="utf-8" id="search">
				<div>
					<input type="text" name="q" value="{{ q|escape }}" class="search" size="29" />
					<select name="t">
						<option value="items" {% if t == 'items' %}selected="selected"{% endif %}>Artículos</option>
						<option value="groups" {% if t == 'groups' %}selected="selected"{% endif %}>Grupos</option>
						<option value="forums" {% if t == 'forums' %}selected="selected"{% endif %}>Foros</option>
					</select>
					<input type="submit" value="Buscar" />
				</div>
			</form>
			{#
			<form action="/search.result" id="search">
			  <div>
				<input type="hidden" name="cx" value="007982268110512831605:w2rogzztfio" />
				<input type="hidden" name="cof" value="FORID:9" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="text" name="q" size="31" class="search" />
				<input type="submit" name="sa" value="Buscar" />
			  </div>
			</form>
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
			#}
			<ul>
				<li><a href="/"{% if tab == '/' %} class="current"{% endif %}>						<span>Inicio</span>		</a></li>
				<li><a href="/item.list"{% if tab == '/item.list' %} class="current"{% endif %}>	<span>Artículos</span>	</a></li>
				<li><a href="/group.list"{% if tab == '/group.list' %} class="current"{% endif %}>	<span>Grupos</span>		</a></li>
				<li><a href="/forum.list"{% if tab == '/forum.list' %} class="current"{% endif %}>	<span>Foros</span>		</a></li>
				<li><a href="/user.list"{% if tab == '/user.list' %} class="current"{% endif %}>	<span>Usuarios</span>	</a></li>
			</ul>
		  </div>
		  
		  </div>
		</div>
		<div class="clear">&nbsp;</div>
		{% if not user %}
		<div class="grid_3">
			<div class="box2 center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/page_white_edit.png" class="icon" alt="" />
					<a href="/item.list"><strong>Artículos</strong></a>
				</p>
				<p>
					¡Publica! <br/> Si tienes Adsense <br/>
					<a href="/item/5674/como-anadir-adsense-a-tus-articulos"><strong>puedes ganar dinero</strong></a>
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_3">
			<div class="box2 center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/group.png" class="icon" alt="" />
					<a href="/group.list"><strong>Grupos</strong></a>
				</p>
				<p>
					Créalos, únete a ellos. <br/>
					Tienen <strong><a href="/forum.list">foros</a></strong> y artículos relacionados.
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_3">
			<div class="box2 center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/help.png" class="icon" alt="" />
					<a href="/group.forum/9240/debug-mode-on/opiniones-sugerencias-feedback-general"><strong>Feedback</strong></a>
				</p>
				<p>
					Escríbenos sugerencias, comentarios, bugs,... <br/>
					<strong><a href="/group.forum/9240/debug-mode-on/opiniones-sugerencias-feedback-general">
						¡Queremos tu feedback!
					</a></strong>
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_3">
			<div class="box2 center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/help.png" class="icon" alt="" />
					<a href="/html/faq.html"><strong>FAQ</strong></a>
				</p>
				<p>
					¿Qué es debug_mode=ON? ¿Qué es un artículo? <br/>
					<strong><a href="/html/faq.html" >¡Consulta nuestro FAQ!</a></strong>
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="clear">&nbsp;</div>
		{% endif %}
		<div class="grid_3">
			{% include 'inc-quick-links.html' %}
			{% block sidebar %}{% endblock %}
			<div class="box">
				<p class="title">Estadísticas de la web</p>
				<ul>
					<li>{{ app.users }} usuarios</li>
					<li>{{ app.items }} artículos</li>
					<li>{{ app.groups }} grupos</li>
					<li>{{ app.threads }} temas en foros</li>
				</ul>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_9">
{% block content %}{% endblock %}
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_12" id="footer">
			
			<div class="grid_4 alpha">
				<h4>Grupos más activos</h4>
				<ul>
				{% for ag in activity_groups %}
					<li><a href="/group/{{ ag.url_path }}" title="Ir al grupo {{ ag.title }}">{{ ag.title }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="grid_8 omega">
				<h4>Grupos por categorías</h4>
				<div class="grid_4 alpha">
				<ul> 
					<li class="category"><p>Administración de Sistemas</p> 
						<ul> 
							<li><a href="/group.list?cat=redes">Redes</a></li> 
							<li><a href="/group.list?cat=sistemas-operativos">Sistemas Operativos</a></li> 
						</ul> 
					</li> 
					<br/>
					<li class="category"><p>Comunidades</p> 
						<ul> 
							<li><a href="/group.list?cat=centros-de-estudio">Centros de estudio</a></li> 
							<li><a href="/group.list?cat=empresas">Empresas</a></li> 
							<li><a href="/group.list?cat=grupos-de-usuarios">Grupos de usuarios</a></li> 
							<li><a href="/group.list?cat=otras">Otras</a></li> 
							<li><a href="/group.list?cat=software-libre">Software libre</a></li> 
						</ul> 
					</li>
				</ul>
				</div>
				<div class="grid_4 omega">
				<ul>
					<li class="category"><p>Hardware</p> 
						<ul> 
							<!-- <li><a href="/group.list?cat=electronica">Electrónica</a></li> -->
							<li><a href="/group.list?cat=ordenadores">Ordenadores</a></li> 
							<li><a href="/group.list?cat=perifericos">Periféricos</a></li> 
							<li><a href="/group.list?cat=sistemas-empotrados">Sistemas empotrados</a></li> 
						</ul> 
					</li> 
					<li class="category"><p>Programación</p> 
						<ul> 
							<li><a href="/group.list?cat=desarrollo-web">Desarrollo web</a></li> 
							<li><a href="/group.list?cat=frameworks-librerias">Frameworks / librerías</a></li> 
							<li><a href="/group.list?cat=herramientas-de-desarrollo">Herramientas de desarrollo</a></li> 
							<li><a href="/group.list?cat=ingenieria-de-software">Ingeniería de software</a></li> 
							<li><a href="/group.list?cat=lenguajes-de-programacion">Lenguajes de programación</a></li> 
							<li><a href="/group.list?cat=programacion-moviles">Programación móviles</a></li> 
							<li><a href="/group.list?cat=software">Software</a></li> 
						</ul> 
					</li> 
				</ul>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="clear">&nbsp;</div>
			<p class="more"><a href="/group.list">Ver todos los grupos »</a></p>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_12">
			<div class="center">
				<div class="final_footer">
					&copy; Copyright 2008-2009 debug_mode=ON |
					<a href="/html/aviso-legal.html">Aviso legal</a> |
					<a href="mailto:contacto@debugmodeon.com">contacto@debugmodeon.com</a> |
					Iconos gracias a <strong><a href="http://www.famfamfam.com/lab/icons/silk/">Silk icons</a></strong>. Creative Commons, <a href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons Attribution 2.5 License">algunos derechos reservados</a>.
					<a href="http://www.xiti.com/xiti.asp?s=406995" title="WebAnalytics" target="_top">
						<script type="text/javascript">
						<!--
						Xt_param = 's=406995&p=';
						try {Xt_r = top.document.referrer;}
						catch(e) {Xt_r = document.referrer; }
						Xt_h = new Date();
						Xt_i = '<img width="39" height="25" border="0" alt="" ';
						Xt_i += 'src="http://logv6.xiti.com/hit.xiti?'+Xt_param;
						Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
						if(parseFloat(navigator.appVersion)>=4)
						{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
						document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
						//-->
					</script>
					<noscript>
						Mesure d'audience ROI statistique webanalytics par <img width="39" height="25" src="http://logv6.xiti.com/hit.xiti?s=406995&p=" alt="WebAnalytics" />
					</noscript></a>
				</div>
			</div>
		</div>
		<div class="clear">&nbsp;</div>
	</div>

{% block javascript %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5469597-1");
pageTracker._trackPageview();
</script>

</body>
</html>
