{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} {{ group.title|escape }} {% endblock %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos del grupo {{ group.title|escape }}" href="/feed/group/{{ group.url_path }}" />
	<link rel="alternate" type="application/rss+xml" title="Foro del grupo {{ group.title|escape }}" href="/feed/group.forum/{{ group.url_path }}" />
	<meta name="description" content="{{ group.description|escape }}" />
{% endblock %}

{% block sidebar %}
	
	{% if related %}
		<div class="box">
			<p class="title">Grupos relacionados</p>
			<ul>
				{% for group in related %}
				<li style="clear:both">
					<div class="avatar" style="float:left; padding-right: 3px"><a href="/group/{{ group.group_to_url_path }}"><img src="/images/group/thumbnail/{{ group.group_to.key().id() }}" alt="{{ group.group_to_title|escape }}" /></a></div>
					<strong><a href="/group/{{ group.group_to_url_path }}">{{ group.group_to_title|escape }}</a></strong>
				</li>
				{% endfor %}
			</ul>
			<p style="clear:both">&nbsp;</p>
			<p class="end-box">&nbsp;</p>
		</div>
	{% endif %}

	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options"><a href="/feed/group/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Artículos del grupo {{ group.title|escape }}</a></p>
		<p class="options"><a href="/feed/group.forum/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Foro del grupo {{ group.title|escape }}</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	{% include 'inc-group-header.html' %}
	<hr/>
	
	
	<div class="grid_9 alpha omega">
		<h4>Últimos mensajes en foros</h4>


		{% if not threads %}
		<p class="message">
			No hay mensajes en los foros por el momento. <br/>
			Empieza tú.
			<strong><a href="/group.forum.list/{{ group.url_path }}">Abre un nuevo hilo</a></strong>
		</p>
		{% else %}
		<table class="grid">
			<thead>
				<tr>
					<th class="center">Autor</th>
					<th class="left">Tema</th>
					<th class="right">Respuestas</th>
					<th class="right">Actualizado</th>
				</tr>
			</thead>
			<tbody>
			{% for thread in threads %}
				<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
					<td class="center">
						<a href="/user/{{ thread.author_nickname }}" title="{{ thread.author_nickname }}">
							<img src="/images/user/thumbnail/{{ thread.author_nickname }}" alt="{{ thread.author_nickname }}" />
						</a>
					</td>
					<td class="left">
						<strong>
							<a href="/group.forum/{{ thread.url_path }}">{{ thread.title|escape }}</a>
							{% if app.max_results_sublist and thread.responses > app.max_results_sublist %}
								<br/> Páginas:
								{% for page in range(1, ((thread.responses / app.max_results_sublist)|round(0, 'ceil') +1)) %}
									&nbsp;<a href="/group.forum/{{ thread.url_path }}?p={{ page }}">[{{ page }}]</a>
								{% endfor %}
							{% endif %}
						</strong>
					</td>
					<td class="right">{{ thread.responses }}</td>
					<td class="right">hace {{ thread.last_response_date|relativize }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<p class="right">
			<strong><a href="/group.forum.list/{{ group.url_path }}">Ver todos o abrir un nuevo hilo »</a></strong>
		</p>
		{% endif %}
		
		{% if items %}
		<hr/>
		
		<h4>Últimos artículos</h4>
		<table class="grid">
			<thead>
				<tr>
					<th class="right">Autor</th>
					<th class="left">Título</th>
				</tr>
			</thead>
			<tbody>
		{% for item in items %}
			<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
				<td class="center">
					<a href="/user/{{ item.item_author_nickname }}">
						<img class="icon" src="/images/user/thumbnail/{{ item.item_author_nickname }}"
							alt="{{ item.item_author_nickname }}" title="{{ item.item_author_nickname }}" />
					</a>
				</td>
				<td class="left">
				    <strong><a href="/item/{{ item.item_url_path }}">{{ item.item_title|escape }}</a></strong>
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		<p class="more"><a href="/group.item.list/{{ group.url_path }}">Ver todos los artículos »</a></p>
		{% endif %}
		
		
		<h4>Usuarios</h4>
		{% include 'inc-user-grid.html' %}
		
		<p class="more">
			<a href="/group.user.list/{{ group.url_path }}">Ver todos los miembros del grupo»</a>
		</p>
		<div class="clear">&nbsp;</div>
		
	</div>
	<div class="clear">&nbsp;</div>
	
{% endblock %}