{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %} Grupos {% endblock %}

{% block content %}
	<div class="info">
		<h1>Grupos</h1>
		<p class="options">Ordenar por: <a href="?o=-creation_date"><img src="/static/images/date.png" alt="" class="icon" /> Fecha creación</a> | <a href="?o=-members"><img src="/static/images/group.png" alt="" class="icon" /> Número de usuarios</a> | <a href="?o=-items"><img src="/static/images/page_white_edit.png" alt="" class="icon" /> Número de artículos</a></p>
	</div>

{% if len == 0 %}
	<p>No hay grupos</p>
{% endif %}

{% include 'inc-group-list.html' %}

{% include 'inc-pagination.html' %}
{% endblock %}