{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %} Grupos {% endblock %}

{% block content %}
	<div class="info">
		<h1>Grupos</h1>
		
			<form action="/group.list" method="get" accept-charset="utf-8" id="category-chooser-form">
				<input type="hidden" name="o" value="{{ o }}" />
				
				<p class="options">
				<label for="cat">Categoría</label>
				<select name="cat" id="category-chooser-select">
					<option value="">Todas</option>
					{% for cat in categories %}
					<optgroup label="{{ cat.title|escape }}">
					{% if cat.subcategories %}
					{% for subcategory in cat.subcategories %}
					<option value="{{ subcategory.url_path }}"{% if category and category.key() == subcategory.key() %} selected="selected"{% endif %}>{{ subcategory.title|escape }}</option>
					{% endfor %}
					{% endif %}
					</optgroup>
					{% endfor %}
				</select>
				<input type="submit" value="Filtrar" id="category-chooser-submit" /> <br/>
				Ordenar por: <a href="?o=-creation_date&amp;cat={{ cat }}"><img src="/static/images/date.png" alt="" class="icon" /> Fecha creación</a> | <a href="?o=-members&amp;cat={{ cat }}"><img src="/static/images/group.png" alt="" class="icon" /> Número de usuarios</a> | <a href="?o=-items&amp;cat={{ cat }}"><img src="/static/images/page_white_edit.png" alt="" class="icon" /> Número de artículos</a>
				</p>
			</form>
	</div>

{% if len == 0 %}
	<p>No hay grupos</p>
{% endif %}

{% include 'inc-group-list.html' %}

{% include 'inc-pagination.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" src="/static/js/validation.js"></script>
<script type="text/javascript" charset="utf-8">
	Event.observe($('category-chooser-select'), 'change', function() {
		$('category-chooser-form').submit();
	});
	$('category-chooser-submit').hide();
</script>
{% endblock %}