{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>
(C) Copyright 2008 Juan Luis Belmonte <jlbelmonte at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} {{ group.title|escape }} {% endblock %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos del grupo {{ group.title|escape }}" href="/feed/group/{{ group.url_path }}" />
	<link rel="alternate" type="application/rss+xml" title="Foro del grupo {{ group.title|escape }}" href="/feed/group.forum/{{ group.url_path }}" />
	<meta name="description" content="{{ group.description|escape }}" />
	<link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options"><a href="/feed/group/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Artículos del grupo {{ group.title|escape }}</a></p>
		<p class="options"><a href="/feed/group.forum/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Temas del foro {{ group.title|escape }}</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	{% include 'inc-group-header.html' %}
	
	<div class="grid_9 alpha omega">
		<div class="info">
			<h2>{{ thread.title|escape }}</h2>
			<p class="options">Iniciado por <a href="/user/{{ thread.author.nickname|escape }}">{{ thread.author.nickname|escape }}</a> hace <strong>{{ thread.creation_date|relativize }}</strong></p>
		</div>
	</div>
	
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<img src="/images/user/thumbnail/{{ thread.author.nickname|escape }}" alt="{{ thread.author.nickname|escape }}" /> <br/>
			<a href="/user/{{ thread.author.nickname|escape }}">{{ thread.author.nickname|escape }}</a></strong>
		</p>
	</div>
	<div class="grid_7 omega">
		{{ thread.content|markdown|smiley }} {% if user.rol == 'admin' %}<a href="/forum.delete?key={{ thread.key }}"><p class="options"><img src="/static/images/cancel.png" class="icon" alt="" /> eliminar hilo</p></a>{% endif %}
		{% if user.nickname != thread.author.nickname %}
			{% if user %}
			<p class="options">
				{% if cansubscribe %}
					<a id="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key }}" title="suscripción por mail"><img src="/static/images/add.png" class="icon" /> Suscribirme por email a las respuestas de este hilo</a>
				{% else %}
					<a id="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key }}" title="anular suscripción"><img src="/static/images/delete.png" class="icon" /> Anular mi suscripción a este hilo</a>
				{% endif %}
			</p>
			{% endif %}
		{% endif %}
	</div>
	<div class="clear">&nbsp;</div>

{% if len != 0 %}
	<div class="grid_9 alpha omega">
		<h3><a name="comments">Respuestas</a></h3>
	</div>
	<div class="clear">&nbsp;</div>
	
{% for comment in responses %}
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<img src="/images/user/thumbnail/{{ comment.author.nickname|escape }}" alt="{{ comment.author.nickname|escape }}" /> <br/>
			<a href="/user/{{ comment.author.nickname|escape }}">{{ comment.author.nickname|escape }}</a> escribió <br/> hace <strong>{{ comment.creation_date|relativize }}</strong>
		</p>
	</div>
	<div class="grid_7 omega">
		<div class="comment">
			{{ comment.content|markdown|smiley }} {% if user.rol == 'admin' %}<a href="/forum.delete?key={{ comment.key }}"><p class="options"><img src="/static/images/cancel.png" class="icon" alt="" /> eliminar comentario</p></a>{% endif %}
		</div>
	</div>
	<div class="clear">&nbsp;</div>
{% endfor %}
{% endif %}


{% if prev or next %}
	<div class="grid_2 alpha">
		<p>&nbsp;</p>
	</div>
	<div class="grid_7 omega">
		<p class="pagination">
			{% if prev %}
			<a href="?p={{ prev }}#comments">« anterior</a> |
			{% endif %}
			Página {{ p }}
			{% if next %}
			| <a href="?p={{ next }}#comments">siguiente »</a></p>
			{% endif %}
		</p>
	</div>
	<div class="clear">&nbsp;</div>
{% endif %}


{% if user and can_write %}
	<div class="grid_9 alpha omega">
		<h3>Deja tu respuesta</h3>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="grid_2 alpha">
		<p>&nbsp;</p>
	</div>
	<div class="grid_7 omega">

	<form action="/group.forum.reply" method="post" accept-charset="utf-8">
		<input type="hidden" name="key" value="{{ thread.key }}" />

		<div class="form">

		<textarea name="content" rows="8" cols="54" id="markdown_example"></textarea>

		<p>
			<input type="checkbox" name="subscribe" value="True" id="subscribe" />Suscribirme por email
		</p>

		<p><input type="submit" value="Publicar respuesta" /></p>

		<p>
			<label for="preview">Vista previa</label>
			<div class="comment"><div id="markdown_formatted"></div></div>
		</p>

		</div>
	</form>
	</div>
	<div class="clear">&nbsp;</div>
{% else %}
	{% if user and not can_write %}
		<p class="options" style="text-align:center">Este grupo requiere que te unas a él para poder escribir. <a href="/group.user.join?group={{ group.key|escape }}&amp;redirect={{ redirect }}"> <img src="/static/images/add.png" /> Únete a este grupo</a></p>
	{% endif %}
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
{% if user and can_write %}
<script type="text/javascript" src="/static/js/livepipe.js"></script>
<script type="text/javascript" src="/static/js/textarea.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>
<script type="text/javascript" src="/static/js/showtextarea.js"></script>
{% endif %}
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" charset="utf-8">
	var d = $$('#thread pre');
	d.each(function(node) {
		node.addClassName('prettyprint');
	});

	prettyPrint();
</script>
{% endblock %}
