{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>
(C) Copyright 2008 Juan Luis Belmonte <jlbelmonte at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} {{ group.title|escape }} {% endblock %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos del grupo {{ group.title|escape }}" href="/feed/group/{{ group.url_path }}" />
	<link rel="alternate" type="application/rss+xml" title="Foro del grupo {{ group.title|escape }}" href="/feed/group.forum/{{ group.url_path }}" />
	<meta name="description" content="{{ group.description|escape }}" />
	<link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options"><a href="/feed/group/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Artículos del grupo {{ group.title|escape }}</a></p>
		<p class="options"><a href="/feed/group.forum/{{ group.url_path }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Temas del foro {{ group.title|escape }}</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	{% include 'inc-group-header.html' %}
	
	<div class="grid_9 alpha omega">
		<h2>{{ thread.title|escape }}</h2>
	</div>
	
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<a href="/user/{{ thread.author_nickname|escape }}"><img src="/images/user/thumbnail/{{ thread.author_nickname|escape }}" alt="{{ thread.author_nickname|escape }}" /></a> <br/>
			<strong><a href="/user/{{ thread.author_nickname|escape }}">{{ thread.author_nickname|escape }}</a></strong>
			escribió <br/> hace <strong>{{ thread.creation_date|relativize }}</strong>
		</p>
	</div>
	<div class="grid_7 omega">
		<div class="comment">
			{{ thread.content|markdown|smiley }}
		</div>
		
		{% if user.rol == 'admin' %}
			<p class="options"><a href="/forum.delete?key={{ thread.key() }}"><img src="/static/images/cancel.png" class="icon" alt="" /> eliminar hilo</a></p>
		{% endif %}
		
		{% if user.nickname != thread.author_nickname %}
			{% if user %}
			<p class="options">
				{% if cansubscribe %}
					<a id="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key() }}" title="suscripción por mail"><img src="/static/images/email_add.png" class="icon" /> Suscribirme por email a las respuestas de este hilo</a>
				{% else %}
					<a id="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key() }}" title="anular suscripción"><img src="/static/images/email_delete.png" class="icon" /> Anular mi suscripción a este hilo</a>
				{% endif %}
			</p>
			{% endif %}
		{% endif %}
	</div>
	<div class="clear">&nbsp;</div>

{% if len != 0 %}
	<div class="grid_9 alpha omega">
		<h3><a name="comments">Respuestas</a></h3>
	</div>
	<div class="clear">&nbsp;</div>
	
{% for comment in responses %}
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<a href="/user/{{ comment.author_nickname|escape }}"><img src="/images/user/thumbnail/{{ comment.author_nickname|escape }}" alt="{{ comment.author_nickname|escape }}" /></a> <br/>
			<strong><a href="/user/{{ comment.author_nickname|escape }}">{{ comment.author_nickname|escape }}</a></strong>
			escribió <br/> hace <strong>{{ comment.creation_date|relativize }}</strong> <br/>
			#{{ comment.response_number }}
		</p>
	</div>
	<div class="grid_7 omega">
		<div class="comment">
			{{ comment.content|markdown|smiley }} {% if user.rol == 'admin' %}<p class="options"><a href="/forum.delete?key={{ comment.key() }}"><img src="/static/images/cancel.png" class="icon" alt="" /> eliminar comentario</a></p>{% endif %}
		</div>
	</div>
	<div class="clear">&nbsp;</div>
{% endfor %}
{% endif %}
	<div class="grid_2 alpha">
		&nbsp;
	</div>
	<div class="grid_7 omega">
		{% include 'inc-pagination.html' %}
	</div>
	<div class="clear">&nbsp;</div>

{% if user and can_write %}
	<div class="grid_9 alpha omega">
		<h3>Deja tu respuesta</h3>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<img src="/images/user/thumbnail/{{ user.nickname|escape }}" alt="{{ user.nickname|escape }}" /> <br/>
			<strong><a href="/user/{{ user.nickname|escape }}">{{ user.nickname|escape }}</a></strong>
		</p>
	</div>
	<div class="grid_7 omega">

	<form action="/group.forum.reply" method="post" accept-charset="utf-8">
		<input type="hidden" name="key" value="{{ thread.key() }}" />

		<div class="form">

		<textarea name="content" rows="8" cols="54" id="markdown_example"></textarea>

		<p>
			<input type="checkbox" name="subscribe" value="True" id="subscribe" />Suscribirme por email
		</p>

		<p><input type="submit" value="Publicar respuesta" /></p>

		<p>
			<label for="preview">Vista previa</label>
			<div class="comment"><div id="markdown_formatted"></div></div>
		</p>

		</div>
	</form>
	</div>
	<div class="clear">&nbsp;</div>
{% else %}
	{% if user and not can_write %}
		<p class="options" style="text-align:center">Este grupo requiere que te unas a él para poder escribir. <a href="/group.user.join?group={{ group.key()|escape }}&amp;redirect={{ redirect }}"> <img src="/static/images/add.png" /> Únete a este grupo</a></p>
	{% endif %}
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
{% if user and can_write %}
<script type="text/javascript" src="/static/js/livepipe.js"></script>
<script type="text/javascript" src="/static/js/textarea.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>
<script type="text/javascript" src="/static/js/showtextarea.js"></script>
{% endif %}
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" charset="utf-8">
	var d = $$('.comment pre');
	d.each(function(node) {
		node.addClassName('prettyprint');
	});

	prettyPrint();
        function ajaxSubs() {
                var subs = $('group.forum.subscribe');
                if(subs == null) return;
                var parent = $(subs.parentNode);
                Element.observe(subs, 'click', function(e) {
                        href = subs.href + '&x=1';
                        parent.innerHTML = '<img class="icon" src="/static/images/spinner.gif" />';
                        new Ajax.Request(href, {
                                method: 'get',
                                onSuccess: function(transport, json) {
                                        var action = transport.responseText.evalJSON().action;
                                        if(action == 'unsubscribed') {
                                                parent.innerHTML = '<a id="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key() }}" title="suscripción por mail"><img src="/static/images/email_add.png" class="icon" /> Suscribirme por email a las respuestas de este hilo</a>';
                                        } else {
                                                parent.innerHTML = '<a d="group.forum.subscribe" href="/group.forum.subscribe?key={{ thread.key() }}" title="anular suscripción"><img src="/static/images/email_delete.png" class="icon" /> Anular mi suscripción a este hilo</a>';
                                        }
                                        ajaxSubs();
                                },
                                onFailure: function() {
                                        parent.innerHTML = 'Ocurrió un error :(';
                                }
                        });
                        Event.stop(e);
                });
        }
        
        ajaxSubs();


</script>
{% endblock %}