{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
 #}

{% if user %}
<div class="box" id="quick-links">
	<p class="title">Quick links</p>
	<p><strong>Acciones</strong></p>
	<ul>
		<li><strong><a href="/item.edit"><img src="/static/images/page_white_edit.png" alt="" class="icon" /> Nuevo artículo</a></strong></li>
		<li><a id="drafts" href="/user.drafts"><img src="/static/images/page_white_text.png" alt="" class="icon" /> Borradores ({{ user.draft_items }})</a></li>
		<li><a href="/group.edit"><img src="/static/images/group.png" alt="" class="icon" /> Nuevo grupo</a></li>
		<li><a href="/user.changepassword?redirect_to={{ redirect }}"><img src="/static/images/key.png" alt="" class="icon" /> Cambiar contraseña</a></li>
		<li><a href="/user.edit"><img src="/static/images/cog.png" alt="" class="icon" /> Preferencias</a></li>
	</ul>
	<p><strong>Tus cosas</strong></p>
	<ul>
		<li><strong><a href="/user.events"><img src="/static/images/heart.png" alt="" class="icon" /> Tu lifestreaming</a></strong></li>
		<li><a href="/user/{{ user.nickname }}"><img src="/static/images/user.png" alt="" class="icon" /> Tu perfil público</a></li>
		<li><a href="/user.items/{{ user.nickname }}"><img src="/static/images/page_white_text.png" alt="" class="icon" /> Tus artículos</a></li>
		<li><a href="/user.favourites/{{ user.nickname }}"><img src="/static/images/star.png" alt="" class="icon" /> Tus favoritos</a></li>
		<li><a href="/user.groups/{{ user.nickname }}"><img src="/static/images/group.png" alt="" class="icon" /> Tus grupos</a></li>
		<li><a href="/user.contacts/{{ user.nickname }}"><img src="/static/images/user.png" alt="" class="icon" /> Tus contactos</a></li>
		<li><a href="/invite"><img src="/static/images/user_comment.png" alt="" class="icon" /> Invita a tus amigos </a></li>
	</ul>

	<p><strong>Mensajes</strong></p>
	<ul>
		<li><a href="/message.inbox"><img src="/static/images/email.png" alt="" class="icon" /> Bandeja de entrada {% if user.unread_messages %}({{ user.unread_messages}}){% endif %}</a></li>
		<li><a href="/message.sent"><img src="/static/images/email_edit.png" alt="" class="icon" /> Mensajes enviados</a></li>
	</ul>

	<p class="end-box">&nbsp;</p>
</div>

{% else %}
<div class="box" id="quick-links">
	<p class="title">Quick links</p>
	<form enctype="multipart/form-data" accept-charset="utf-8" method="post" action="{{ app.url }}/user.login">
		<div class="left_form">
			<input type="hidden" name="redirect_to" value="{{ redirect }}" />
			<p>
				<label for="nickname">Usuario:</label>
				<input id="nickname" type="text" name="nickname"/>
			</p>
			<p>
				<label for="password">Contaseña:</label>
				<input id="password" type="password" name="password"/>
			</p>
			<p class="button">
				<input type="submit" value="Iniciar Sesión" />
			</p>
		</div>
	</form>
	<p class="center">
		<strong><a href="{{ app.url }}/user.register?redirect_to={{ redirect }}">¡Regístrate!</a></strong> <br/>
		¿<a href="{{ app.url }}/user.forgotpassword?redirect_to={{ redirect }}">Olvidaste la contraseña</a>?
		</p>
	<p class="end-box">&nbsp;</p>
</div>
{% endif %}
