{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Néstor Salceda <nestor.salceda at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

<table class="grid">
	<thead>
		<tr>
			<th></th>
			<th class="left">Usuario</th>
			<th class="left">País</th>
			<th class="right">Ciudad</th>
			<th class="right">Registrado hace</th>
			<th class="right">Artículos y valoración media</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}
		<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
			<td class="center"><div class="avatar"><a href="/user/{{ user.nickname|escape }}">
				{% if user.image_version %}
					<img src="/images/user/thumbnail/{{ user.nickname }}/{{ user.image_version }}" alt"{{ user.nickname }}" />
				{% else %}
					<img src="/images/user/thumbnail/{{ user.nickname }}" alt"{{ user.nickname }}" />
				{% endif %}
			</a></div></td>
			<td class="left"><strong><a href="/user/{{ user.nickname|escape }}">{{ user.nickname|escape }}</a></strong></td>
			<td class="left">{% if user.country %}{{ user.country|escape }}{% endif %}</td>
			<td class="right">{% if user.city %}{{ user.city|escape }}{% endif %}</td>
			<td class="right">{{ user.creation_date|relativize }}</td>
			<td class="right">{% if user.items != 0 %}<p class="rating star{{ user.rating_average }}" style="float:right">&nbsp;</p>{{ user.items }}&nbsp;&nbsp;&nbsp;{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
