{% comment %}
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div class="box" id="quick-links">
	<p class="title">Quick links</p>
{% if user %}
	<ul>
		<li><a href="/item.edit"><img src="/static/images/page_white_text.png" alt="" class="icon" /> Nuevo artículo</a></li>
		<li><a href="/group.edit"><img src="/static/images/group.png" alt="" class="icon" /> Nuevo grupo</a></li>
		<li><a href="/user/{{ user.nickname|escape }}"><img src="/static/images/user.png" alt="" class="icon" /> Perfil público</a></li>
		<li><a href="/user.changepassword?redirect_to={{ redirect }}"><img src="/static/images/key.png" alt="" class="icon" /> Cambiar contraseña</a></li>
		<!--
		<li><a href="#"><img src="/static/images/html.png" alt="" class="icon" /> Nuevo snippet</a></li>
		<li><a href="#"><img src="/static/images/help.png" alt="" class="icon" /> Nueva pregunta</a></li>
		<li><a href="#"><img src="/static/images/email.png" alt="" class="icon" /> 5 mensajes sin leer</a></li> -->
	</ul>
{% else %}
	<ul>
	    <li><a href="/user.login?redirect_to={{ redirect }}">Login</a></li>
		<li><a href="/user.register?redirect_to={{ redirect }}">Regístrate</a></li>
	</ul>
{% endif %}
</div>
