{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% for group in groups %}
<div class="grid_2 alpha">
	<br/>
	<p class="center"><a href="/group/{{ group.url_path}}">
	{% if group.image_version %}
		<img src="/images/group/avatar/{{ group.key().id() }}/{{ group.image_version }}" alt="{{ group.title|escape }}" />
	{% else %}
		<img src="/images/group/avatar/{{ group.key().id() }}" alt="{{ group.title|escape }}" />
	{% endif %}
	</a></p>
</div>
<div class="grid_7 omega">
	<div class="info">
		<h1><a href="/group/{{ group.url_path}}">{{ group.title|escape }}</a></h1>
		<p class="options">
			<a href="/group.forum.list/{{ group.url_path }}">
				<img src="/static/images/comments.png" alt="" class="icon" /> {{ group.threads }} temas en el foro
			</a>
			| <a href="/group.item.list/{{ group.url_path }}">
				<img src="/static/images/page_white_edit.png" alt="" class="icon" /> {{ group.items }} artículos
			</a>
			| <a href="/group.user.list/{{ group.url_path }}">
				<img src="/static/images/group.png" alt="" class="icon" /> {{ group.members }} usuarios
			</a>
{% if user %}
	{% if joined == 'True' %}
			{% if user.nickname != group.owner.nickname %}
				| <a href="/group.user.unjoin?group={{ group.key() }}&amp;redirect={{ redirect }}">
					<img src="/static/images/delete.png" class="icon" alt="" /> Eliminarte del grupo</a>
			{% endif %}
	{% elif joined == 'False' %}
			| <a href="/group.user.join?group={{ group.key() }}&amp;redirect={{ redirect }}">
				<img src="/static/images/add.png" class="icon" alt="" /> Únete a este grupo</a>
	{% endif %}
	{% if user.nickname == group.owner.nickname %}
			| <strong><a href="/group.edit?key={{ group.key() }}">Editar grupo</a></strong>
	{% endif %}
{% endif %}
		</p>
	</div>

	<p>{{ group.description|escape }}</p>
</div>
<div class="clear">&nbsp;</div>
	<hr class="separator"/>
{% endfor %}