{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Últimos artículos" href="/feed/" />
	<meta name="description" content="Red de contenidos y red social con artículos, grupos, foros,..." />
	<meta name="keywords" content="red social, programacion, artículos" />
	<style type="text/css" media="screen">
		h4 {
			color: orange;
			font-size: 180%;
		}
	</style>

{% endblock %}
{% block title %} debug_mode=ON | Red social y de contenidos para programadores. Artículos, grupos, foros,... {% endblock %}
{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p style="text-align:center" class="options"><a href="/feed/"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos publicados</a></p>
		<p class="end-box">&nbsp;</p>
	</div>

	<div class="box">
		<p class="title">Nube de tags</p>
		{% include 'inc-tag-cloud.html' %}
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}

	<div class="grid_3 alpha">
		<p style="text-align:center;margin-top:10px">
			<img src="/static/images/logo2.png" alt="debug_mode=ON" />
		</p>
	</div>
	<div class="grid_6 omega">
		<div class="info">
			<h1>debug_mode=ON</h1>
			<p>Red social y de contenidos en español. <br/> 
				Programación, desarrollo y diseño web, administración de sistemas, redes,...<br/>
				{% if user %}
				<strong>Difunde tu perfil en debug_mode=ON con <a href="user.promote">nuestros botones</a></strong>
				{% endif %}
			</p>
		</div>
	</div>
	<div class="clear">&nbsp;</div>

	<div class="grid_9 alpha omega">
		<hr/>
		<h4>Últimos mensajes en foros</h4>
		{% include 'inc-forum-list.html' %}
		<p style="text-align:right"><strong><a href="/forum.list">Ver todos los mensajes en foros »</a></strong></p>
		<hr/>
		
		<h4>Últimos artículos</h4>
		<table class="forum">
			<thead>
				<th style="text-align:center">Autor</th>
				<th class="subject">Título</th>
			</thead>
			<tbody>
		{% for item in items %}
			<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
				<td style="text-align:center">
					<a href="/user/{{ item.author_nickname }}"><img class="icon" src="/images/user/thumbnail/{{ item.author_nickname }}" alt="{{ item.author_nickname }}" title="{{ item.author_nickname }}" /></a>
				</td>
				<td class="subject">
				    <strong><a href="/item/{{ item.url_path }}">{{ item.title|escape }}</a></strong>
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		</ul>
		<p style="text-align:right"><strong><a href="/item.list">Ver todos los artículos »</a></strong></p>
		<hr/>

		<h4>Grupos por categorías</h4>
		
		
		<div class="grid_4 alpha">
		<ul> 

			<li><strong>Administración de Sistemas</strong> 

			<ul> 

			<li><a href="/group.list?cat=redes">Redes</a></li> 

			<li><a href="/group.list?cat=sistemas-operativos">Sistemas Operativos</a></li> 

			</ul> 

			</li> 

			<li><strong>Comunidades</strong> 

			<ul> 

			<li><a href="/group.list?cat=centros-de-estudio">Centros de estudio</a></li> 

			<li><a href="/group.list?cat=empresas">Empresas</a></li> 

			<li><a href="/group.list?cat=grupos-de-usuarios">Grupos de usuarios</a></li> 

			<li><a href="/group.list?cat=otras">Otras</a></li> 

			<li><a href="/group.list?cat=software-libre">Software libre</a></li> 

			</ul> 

			</li>
		</ul>
		</div>
		
		<div class="grid_5 omega">
		<ul>
			<li><strong>Hardware</strong> 

			<ul> 

			<!-- <li><a href="/group.list?cat=electronica">Electrónica</a></li> -->

			<li><a href="/group.list?cat=ordenadores">Ordenadores</a></li> 

			<li><a href="/group.list?cat=perifericos">Periféricos</a></li> 

			<li><a href="/group.list?cat=sistemas-empotrados">Sistemas empotrados</a></li> 

			</ul> 

			</li> 

			<li><strong>Programación</strong> 

			<ul> 

			<li><a href="/group.list?cat=desarrollo-web">Desarrollo web</a></li> 

			<li><a href="/group.list?cat=frameworks-librerias">Frameworks / librerías</a></li> 

			<li><a href="/group.list?cat=herramientas-de-desarrollo">Herramientas de desarrollo</a></li> 

			<li><a href="/group.list?cat=ingenieria-de-software">Ingeniería de software</a></li> 

			<li><a href="/group.list?cat=lenguajes-de-programacion">Lenguajes de programación</a></li> 

			<li><a href="/group.list?cat=programacion-moviles">Programación móviles</a></li> 

			<li><a href="/group.list?cat=software">Software</a></li> 

			</ul> 

			</li> 

		</ul>
		</div>
		<div class="clear">&nbsp;</div>
		
		
		<p style="text-align:right"><strong><a href="/group.list">Ver todos los grupos »</a></strong></p>
		
	</div>
	<div class="clear">&nbsp;</div>
{% endblock %}
