{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Últimos artículos" href="/feed/" />
	<meta name="description" content="Red de contenidos y red social con artículos, grupos, foros,..." />
	<meta name="keywords" content="red social, programacion, artículos" />
	<style type="text/css" media="screen">
		.up {
			font-size: 140%;
		}
	</style>

{% endblock %}
{% block title %} debug_mode=ON | Red social y de contenidos para programadores. Artículos, grupos, foros,... {% endblock %}
{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p style="text-align:center" class="options"><a href="/feed/"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos publicados</a></p>
		<p class="end-box">&nbsp;</p>
	</div>

	<div class="box">
		<p class="title">Nube de tags</p>
		{% include 'inc-tag-cloud.html' %}
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	<div class="grid_3 alpha">
		<p style="text-align:center;margin-top:10px">
			<img src="/static/images/logo1.jpg" alt="debug_mode=ON" />
		</p>
	</div>
	<div class="grid_6 omega">
		<div class="info">
			<h1>debug_mode=ON</h1>
			<p>Red social y de contenidos en español. <br/> 
				Programación, desarrollo y diseño web, administración de sistemas, redes,...<br/>
				{% if user %}
				<strong>Difunde tu perfil en debug_mode=ON con <a href="user.promote">nuestros botones</a></strong>
				{% endif %}
			</p>
			 
		</div>
	</div>
	<div class="clear">&nbsp;</div>
	
	<div class="grid_9 alpha omega">
		<div class="grid_3 alpha">
			<div class="box" style="text-align:center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/page_white_edit.png" class="icon" alt="" /> <a href="/item.list"><strong>Artículos</strong></a></p>
				<p>
					¡Publica! <br/> Si tienes Adsense <br/> <a href="/item/5674/como-anadir-adsense-a-tus-articulos"><strong>puedes ganar dinero</strong></a>
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_3">
			<div class="box" style="text-align:center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/group.png" class="icon" alt="" /> <a href="/group.list"><strong>Grupos</strong></a></p>
				<p>
					Créalos, únete a ellos. <br/>
					Tienen <strong><a href="/forum.list">foros</a></strong> y artículos relacionados.
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>
		<div class="grid_3 omega">
			<div class="box" style="text-align:center">
				<p class="start-box">&nbsp;</p>
				<p class="up"><img src="/static/images/help.png" class="icon" alt="" /> <a href="/group.forum/9240/debug-mode-on/opiniones-sugerencias-feedback-general"><strong>Feedback</strong></a></p>
				<p>
					Escríbenos sugerencias, comentarios, bugs,... <br/> <strong><a href="/group.forum/9240/debug-mode-on/opiniones-sugerencias-feedback-general">¡Queremos tu feedback!</a></strong>
				</p>
				<p class="end-box">&nbsp;</p>
			</div>
		</div>

	</div>
	<div class="clear">&nbsp;</div>

	<div class="grid_3 alpha">
		{{ items }}
	</div>
	<div class="grid_3">
		{{ groups }}
	</div>
	<div class="grid_3 omega">
		{{ threads }}
	</div>
	<div class="clear">&nbsp;</div> 
{% endblock %}
