{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Últimos artículos" href="/feed/" />
	<meta name="description" content="Red de contenidos y red social con artículos, grupos, foros,..." />
	<meta name="keywords" content="red social, programacion, artículos" />

{% endblock %}
{% block title %} debug_mode=ON | Red social y de contenidos para programadores. Artículos, grupos, foros,... {% endblock %}
{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options center"><a href="/feed/"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos publicados</a></p>
		<p class="end-box">&nbsp;</p>
	</div>

	<div class="box">
		<p class="title">Nube de tags</p>
		{% include 'inc-tag-cloud.html' %}
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}

	<div>&nbsp;</div>
	<div class="grid_9 alpha omega">
		<h4>Últimos mensajes en foros</h4>
		{% include 'inc-forum-list.html' %}
		<p class="more"><a href="/forum.list">Ver todos los mensajes en foros »</a></p>
		<hr class="separator"/>
		
		<h4>Últimos artículos</h4>
		<table class="grid">
			<thead>
				<tr>
					<th class="center">Autor</th>
					<th class="left">Título</th>
				</tr>
			</thead>
			<tbody>
		{% for item in items %}
			<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
				<td class="center">
					<a href="/user/{{ item.author_nickname }}"><img class="icon" src="/images/user/thumbnail/{{ item.author_nickname }}" alt="{{ item.author_nickname }}" title="{{ item.author_nickname }}" /></a>
				</td>
				<td class="left">
				    <strong><a href="/item/{{ item.url_path }}">{{ item.title|escape }}</a></strong>
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		<p class="more"><a href="/item.list">Ver todos los artículos »</a></p>

		
	</div>
	<div class="clear">&nbsp;</div>
{% endblock %}
