{#
(C) Copyright 2008  Juan Luis Belmonte  <jlbelmonte at gmail dot com> 
This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} Invita a tus contactos  {% endblock %}

{% block content %}
	<div class="info">
		<h1>Invita a tus contactos</h1>
	</div>
	
	<form action="/invite" method="post" accept-charset="utf-8">
		<div class="form" align="center">
			
			<p>
                        <label for="contacts">Añade hasta 20 contactos separados por comas.</label>
                        <textarea name="contacts" rows="5" cols="50" id="contacts">{{ contacts|escape }}</textarea>
	                </p>
			
		<p><input type="submit" value="Invitar" /></p>
		</div>
	</form>
		
{% endblock %}
