{#
(C) Copyright 2008  Juan Luis Belmonte  <jlbelmonte at gmail dot com> 
This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
long with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} Invita a tus contactos  {% endblock %}

{% block content %}
{% if not sent %}
	<div class="info">
		<h1>Invita a tus contactos</h1>
	</div>
	
	<form action="/invite" method="post" accept-charset="utf-8">
		<input type="hidden" name="auth" value="{{ auth }}" />
		<div class="form" class="center">
			<p>
				<label for="personalmessage">
					Si prefieres escribir tú el mensaje que le llegará  tus contactos
					escríbelo aquí. Sino se enviará un texto por defecto.
				</label>
				<textarea name="personalmessage" rows="5" cols="50" id="personalmessage">{{ personalmessage|escape }}</textarea>
			</p>
			{% if failed %}
				<p class="error">No introdujiste direcciones. {{ failed }}</p>
			{% endif %}
			<p>
				<label for="contacts">Añade hasta 20 contactos separados por comas</label>
				<textarea id="contacts" name="contacts" rows="5" cols="50">{{ contacts|escape }}</textarea>
			</p>
			
		<p><input type="submit" value="Invitar" /></p>
		</div>
	</form>

{% else %}
	<div class="info"><h1>Ya se han enviado tus invitaciones.</h1></div>
	
	{% if _users %}
	<h4>Algunos de tus invitados ya son usuarios de debug_mode=ON</h4>
	<table class="grid">
		<thead>
			<tr>
				<th></th>
				<th class="left">Usuario</th>
				<th class="left">email</th>
			</tr>
		</thead>
		<tbody>
			{% for u in _users %}
			<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
				<td class="center"><div class="avatar"><a href="/user/{{ u.nickname|escape }}">
					<img src="/images/user/thumbnail/{{ u.nickname }}" alt"{{ u.nickname }}" /></a></div>
				</td>
				<td class="left"><strong><a href="/user/{{ u.nickname|escape }}">{{ u.nickname|escape }}</a></strong></td>
				<td class="left"> {{ u.email|escape }}</td>
			</tr>
			{% endfor %} 
		</tbody>
	</table>
	{% endif %}

{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" src="/static/js/validation.js"></script>

<script type="text/javascript" charset="utf-8">
	$('contacts').setAttribute('onkeydown', 'fieldChanged()');
	function validate_presence(id) {
		var field = new LiveValidation(id, { validMessage: "", wait: 5 });
		field.add(Validate.Presence, { failureMessage: "Campo obligatorio" });
	}

	validate_presence('contacts');
</script>

		
{% endblock %}
