{#
(C) Copyright 2008 Ignacio Andreu  <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block head %}
	<link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div>&nbsp;</div>
	{% if preview %}
		<div class="grid_2 alpha">
			<p class="info comment-info">
				<img src="/images/user/thumbnail/{{ comment.author_nickname }}" alt"{{ comment.author_nickname }}" /> <br/>
				<a href="/user/{{ comment.author_nickname|escape }}">{{ comment.author_nickname|escape }}</a> escribió <br/>
			</p>
		</div>
		<div class="grid_7 omega">
			<div class="comment">
				{{ comment.content|markdown|smiley }}
			</div>
		</div>
		<div class="clear">&nbsp;</div>
	{% endif %}
	<div class="grid_2 alpha">
		<p class="info comment-info">
			<img src="/images/user/thumbnail/{{ user.nickname|escape }}" alt="{{ user.nickname|escape }}" /> <br/>
			<strong><a href="/user/{{ user.nickname|escape }}">{{ user.nickname|escape }}</a></strong>
		</p>
	</div>
	<div class="grid_7 omega">
		{% if comment_key %}
		<form action="/item.comment.edit" method="post" accept-charset="utf-8">
			<input type="hidden" name="key" value="{{ comment.key() }}" />
		{% else %}
		<form action="/item.comment" method="post" accept-charset="utf-8">
			<input type="hidden" name="key" value="{{ comment.item.key() }}" />
		{% endif %}
			<textarea name="content" rows="8" cols="54" id="markdown_example">{{ comment.content }}</textarea>
			
			{% if comment_key %}
				<p><input type="submit" value="Editar comentario" /></p>
			{% else %}
				<p><input type="submit" value="Publicar comentario" />&nbsp;<input type="submit" name="preview" value="Previsualizar"></p>
			{% endif %}
		</form>
		
		<p>
			<label for="preview">Vista previa</label>
			<div class="comment"><div id="markdown_formatted"></div></div>
		</p>
	</div>
	<div class="clear">&nbsp;</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" src="/static/js/livepipe.js"></script>
<script type="text/javascript" src="/static/js/textarea.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>
<script type="text/javascript" src="/static/js/showtextarea.js"></script>
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" charset="utf-8">
	var d = $$('#item pre');
	d.each(function(node) {
		node.addClassName('prettyprint');
	});
	prettyPrint();
</script>
{% endblock %}
