{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} Artículos {% endblock %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Últimos artículos" href="/feed/" />
{% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options center"><a href="/feed/"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos publicados</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
	
	<div class="box">
		<p class="title">Nube de tags</p>
		{% include 'inc-tag-cloud.html' %}
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	<div class="info">
		<h1>Artículos</h1>
		<p class="options">Ordenar por: <a href="?o=-creation_date"><img src="/static/images/date.png" alt="" class="icon" /> Fecha publicación</a> | <a href="?o=-rating_average"><img src="/static/images/tick.png" alt="" class="icon" /> Valoración</a> | <a href="?o=-responses"><img src="/static/images/comments.png" alt="" class="icon" /> Número de comentarios</a></p>
	</div>
{% include 'inc-item-list.html' %}
<div class="clear">&nbsp;</div>
{% endblock %}