{% comment %}
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% extends "base.html" %}
{% block content %}
<div class="grid_12">
	{% if key %}
		<h2>Editar artículo</h2>
	{% else %}
		<h2>Nuevo artículo</h2>
	{% endif %}
</div>
<div class="clear">&nbsp;</div>

<form action="/item.edit" method="post" accept-charset="utf-8">
	{% if key %}
		<input type="hidden" name="key" value="{{ key|escape }}" />
	{% endif %}

<div class="grid_12">
	<div class="form">
		<p>
			<label for="title">Título</label>
			<input type="text" name="title" value="{{ title|escape }}" style="font-size:200%" size="40" />
		</p>

		<p>
			<label for="lic">Licencia</label>
			<select name="lic">
			{% for l in licenses %}
				<option value="{{ l.id }}"{% ifequal l.id lic %} selected="selected"{% endifequal %}>{{ l.lic }}</option>
			{% endfor %}
			</select>
		</p>

		<p>
			<label for="tags">Etiquetas separadas por comas</label>
			<input type="text" name="tags" value="{{ tags|escape }}" size="50" /> (ej: .net, mono, gtk, gnome)
		</p>

		<p>
			<label for="description">Resumen</label>
			<textarea name="description" rows="4" cols="50">{{ description|escape }}</textarea>
		</p>
	</div>
</div>
<div class="grid_6">
	<div class="form">
		<p>
			<label for="content">Contenido</label>
			<textarea name="content" rows="30" cols="50" id="markdown_example">{{ content|escape }}</textarea>
		</p>
   
		<p><input type="submit" value="Publicar artículo" /></p>
	</div>
</div>
<div class="grid_6">
	<div class="form">
		<p>
		    <label for="preview">Vista previa</label>
			<div class="comment"><div id="markdown_formatted"></div></div>
		</p>
	</div>
</div>
</form>
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" src="/static/js/livepipe.js"></script>
<script type="text/javascript" src="/static/js/textarea.js"></script>
<script type="text/javascript" src="/static/js/showdown.js"></script>
<script type="text/javascript" src="/static/js/showtextarea.js"></script>
{% endblock %}