{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %}
	Mensaje eliminado
{% endblock %}

{% block content %}
	<h1>Mensaje eliminado</h1>

	<div class="error">
		El mensaje "<strong>{{ message.title|escape }}</strong>" ha sido eliminado. <br/>
		{% if r == 'inbox' %}
			<strong><a href="/message.inbox">Volver a la bandeja de entrada</a></strong>
		{% else %}
			<strong><a href="/message.sent">Volver a mensajes enviados</a></strong>
		{% endif %}
	</div>


{% endblock %}