{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %}
	{{ message.title|escape }}
{% endblock %}

{% block content %}
	
	{% if user.nickname == message.user_to_nickname %}
		<h1>Mensaje recibido: {{ message.title|escape }}</h1>
	
		<div class="grid_2 alpha">
			<p class="info comment-info">
				<a href="/user/{{ message.user_from_nickname }}">
					<img src="/images/user/thumbnail/{{ message.user_from_nickname }}" alt"{{ message.user_from_nickname }}" />
				</a> <br/>
				<a href="/user/{{ message.user_from_nickname }}">{{ message.user_from_nickname }}</a> escribió <br/> hace <strong>{{ message.creation_date|relativize }}</strong> <br/>
			</p>
		</div>
		<div class="grid_7 omega">
			<div class="comment">
			{{ message.content|markdown }}
			</div>
   
			<p class="options">
				<a href="/message.edit?user_to={{ message.user_from_nickname }}&amp;title={{ message.title|escape }}"><img src="/static/images/email_edit.png" alt="" class="icon" /> Responder</a>
				| <a href="/message.delete?key={{ message.key() }}" onclick="return confirm('¿Seguro que desea eliminar el mensaje?')"><img src="/static/images/cross.png" alt="" class="icon" /> Eliminar mensaje</a>
			</p>
   
		</div>
		<div class="clear">&nbsp;</div>
	{% else %}
		<h1>Mensaje enviado: {{ message.title|escape }}</h1>
		
		<div class="grid_2 alpha">
			<p class="info comment-info">
				<a href="/user/{{ message.user_to_nickname }}">
					<img src="/images/user/thumbnail/{{ message.user_to_nickname }}" alt"{{ message.user_to_nickname }}" />
				</a> <br/>
					enviado a <a href="/user/{{ message.user_to_nickname }}">{{ message.user_to_nickname }}</a> <br/> hace <strong>{{ message.creation_date|relativize }}</strong> <br/>
			</p>
		</div>
		<div class="grid_7 omega">
			<div class="comment">
			{{ message.content|markdown }}
			</div>
   
			<p class="options">
				<a href="/message.edit?user_to={{ message.user_to_nickname }}&amp;title={{ message.title|escape }}"><img src="/static/images/email_edit.png" alt="" class="icon" /> Escribir otro mensaje a {{ message.user_to_nickname }}</a>
				| <a href="/message.delete?key={{ message.key() }}" onclick="return confirm('¿Seguro que desea eliminar el mensaje?')"><img src="/static/images/cross.png" alt="" class="icon" /> Eliminar mensaje</a>
			</p>
   
		</div>
		<div class="clear">&nbsp;</div>
	{% endif %}
	
{% endblock %}