{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Néstor Salceda <nestor.salceda at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %} 
{% if item_type == 'items' %}Artículos {% endif %}
{% if item_type == 'groups' %}Grupos {% endif %}
etiquetados con "{{ tag }}" {% endblock %}
{% block sidebar %}
	<div class="box">
		<p class="title">Nube de tags</p>
		<ol class='tag-cloud'>
		{% for tag in taglist %}
			<li class="size{{tag.1}}"><span>{{tag.2}} items etiquetados con </span><a href='/tag/{{tag.0}}' class='tag'>{{tag.0}}</a></li>
		{% endfor %}
		</ol>
	</div>
{% endblock %}

{% block content %}

{% if item_type == 'items' %}
	<h1>Artículos que contengan "<em>{{ q|escape }}</em>"</h1>
{% include 'inc-item-list.html' %}
{% endif %}

{% if item_type == 'usuarios' %}
	<h1>Usuarios que contengan "<em>{{ q|escape }}</em>"</h1>
{% include 'inc-user-list.html' %}
{% endif %}

{% if item_type == 'groups' %}
	<h1>Grupos que contengan "<em>{{ q|escape }}</em>"</h1>
{% include 'inc-group-list.html' %}
{% include 'inc-pagination.html' %}
{% endif %}

{% if item_type == 'forums' %}
	<h1>Foros que contengan "<em>{{ q|escape }}</em>"</h1>
{% include 'inc-forum-list.html' %}
{% endif %} 

<div class="clear">&nbsp;</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/searchTerms.js"></script>
<script type="text/javascript" charset="utf-8">
	highlightSearchTerms('{{ q|escape }}', false, false, '<span class="highlight">', '</span>');
</script>
{% endblock %}
