{#
(C) Copyright 2008  Juan Luis Belmonte  <jlbelmonte at gmail dot com> 
This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %} Preguntas frecuentes  {% endblock %}

{% block content %}
	<h1>Preguntas más frecuentes</h1>
	<p>
		<b>¿Qué es debudmodeon?</b>
		<br/>
		Puedes encontrar la respuesta en este <a href="http://www.debugmodeon.com/item/16489/que-es-debug-mode-on">artículo</a>.
	</p>
	<p>
		<b>¿Cómo añadir adsense a tus artículos?</b>
		<br/>
		Escribimos un artículo dedicado precisamente a esto:  <a href="http://www.debugmodeon.com/item/5674/como-anadir-adsense-a-tus-articulos">Cómo añadir Adsense a tus artículos</a>.
	</p>
	<p>
		<b>Quiero leer el aviso legal. ¿Dónde lo puedo encontrar?</b>
		<br/>
		Hay un enlacea al pie de todas las páginas. No obstante aquí tambien lo tienes <a href="http://www.debugmodeon.com/html/aviso-legal.html">Aviso legal</a>.
	</p>
	<p>
		<b>Quiero saber algo más del equipo.</b>
		<br/>
		El equipo lo conformamos cuatro personas, Alberto Gimeno, Néstor Salceda, Ignacio Andreu y Juan Luis Belmonte. Hemos dedicado un artículo a las personas que integramos  <a href="http://www.debugmodeon.com/item/76982/acerca-del-equipo">el equipo de debug_mode=ON</a>.		
	</p>
	<p>
		<b>¿Qué más cosas vais a hacer en debugmodeon?</b>
		<br/>
		Hay un artículo dedicado a <a href="http://www.debugmodeon.com/item/45503/to-do-list-de-debugmodeon-com">las tareas pendientes</a>. No obstante si tienes alguna idea o sugerencia no dudes en escribir en <a href="http://www.debugmodeon.com/group.forum/9240/debug-mode-on/opiniones-sugerencias-feedback-general">el foro dedicado a ello</a>. Será de gran ayuda y lo tendremos en cuenta para formar parte del desarrollo.
	</p>
	<p>
		<b>¿Qué es y qué no es un artículo?</b>
		<br/>
		Recordemos un poco el fundamento de la página, es una red social de contenidos y conocimiento informático. Podemos hacer la asociación de los videos son a youtube, como los artículos con contenido didáctico - informativo son a debugmodeon.

		Un artículo ha de tener una extensión media. Ha de buscar informar o formar sobre un tema concreto. Puede comprender tips, howtos, tutoriales, charlas técnicas, articulos de opinión sobre la temática técnica elegida, etc. 
		Los artículos no son para preguntar dudas concretas, para hacer encuestas o similares. Todo ello sí tiene cabida en debugmodeon, pero el sitio correcto son los foros de discusión de los grupos.
	</p>
	<p>
		<b>¿Cómo uso los foros de debugmodeon?</b>
		<br/>
		Para utilizar los foros has de ser usuario de debugmodeon y pertenecer al grupo en el que quieras participar en el foro.
	Utilízalo como quieras, siempre recuerda, ser amable con el resto de usuarios, buscar antes de preguntar y no desviarte de la temática general del foro.
	</p> 

{% endblock %}
