{% comment %}
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% extends "base.html" %}

{% block title %} Artículos etiquetados con "{{ tag|escape }}" {% endblock %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos etiquetados con {{ tag|escape }}" href="/feed/tag/{{ tag|escape }}" />
{% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p style="text-align:center" class="options"><a href="/feed/tag/{{ tag|escape }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Artículos etiquetados con {{ tag|escape }}</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
	
	<div class="box">
		<p class="title">Nube de tags</p>
		<ol class='tag-cloud'>
		{% for tag in taglist %}
			<li class="size{{tag.1}}"><span>{{tag.2}} items etiquetados con </span><a href='/tag/{{tag.0}}' class='tag'>{{tag.0}}</a></li>
		{% endfor %}
		</ol>
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	<h1>Artículos etiquetados con "<em>{{ tag|escape }}</em>"</h1>
{% include 'inc-item-list.html' %}

<div class="clear">&nbsp;</div>
{% endblock %}