{% comment %}
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% extends "base.html" %}
{% block content %}
<div class="grid_8">
	<h2>Usuarios</h2>
	<p class="info options">&nbsp;</p>
	<ul>
{% for user in users %}
		<li><a href="/user/{{ user.nickname|escape }}">{{ user.nickname|escape }}</a> ({{ user.items }} items, {{ user.comments }} comentarios)</li>
{% endfor %}
	</ul>


{% if prev or next %}
	<p class="pagination">
		{% if prev %}
		<a href="?p={{ prev }}#comments">« anterior</a> |
		{% endif %}
		Página {{ p }}
		{% if next %}
		| <a href="?p={{ next }}#comments">siguiente »</a></p>
		{% endif %}
	</p>
{% endif %}
</div>

<div class="grid_4">
	<div class="box">
		<p class="title">Título</p>
		<ul>
			<li>foo</li>
			<li>bar</li>
			<li>fud</li>
		</ul>
	</div>
</div>
<div class="clear">&nbsp;</div>
{% endblock %}