{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos de {{ this_user.nickname }}" href="/feed/user/{{ this_user.nickname }}" />
{% endblock %}

{% block title %} {{ this_user.nickname }}: favoritos {% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p style="text-align:center" class="options"><a href="/feed/user/{{ this_user.nickname }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos de {{ this_user.nickname}}</a></p>
	</div>
{% endblock %}

{% block content %}
	<h1><img src="/images/user/thumbnail/{{ this_user.nickname }}" alt="{{ this_user.nickname}}" style="vertical-align: middle" /> <a href="/user/{{ this_user.nickname }}">{{ this_user.nickname }}</a>: favoritos</h1>

	<table class="forum">
		<thead>
			<th style="text-align:center">Autor</th>
		    <th class="subject">Título</th>
		</thead>
		<tbody>
		{% for fav in favourites %}
			<tr>
			    <td style="text-align:center"><a href="/user/{{ fav.item_author_nickname }}"><img src="/images/user/thumbnail/{{ fav.item_author_nickname }}" alt="{{ fav.item_author_nickname }}" title="{{ fav.item_author_nickname }}" /></a></td>
				<td class="subject"><strong><a href="/item/{{ fav.item_url_path }}">{{ fav.item_title }}</a></strong></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{% include 'inc-pagination.html' %}
{% endblock %}