{#
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block title %} {{ user.nickname }}: lifestreamming {% endblock %}
{% block content %}

	<h1><img src="/images/user/thumbnail/{{ user.nickname }}" alt="{{ user.nickname}}" style="vertical-align: middle" /> <a href="/user/{{ user.nickname }}">{{ user.nickname }}</a>: lifestreamming</h1>
	
	<table style="width: 100%">
		<tbody>
	{% for event in events %}
		<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
			<td style="text-align:center">
				<a href="/user/{{ event.user_nickname}}">
					<img src="/images/user/thumbnail/{{ event.user_nickname }}"
						alt="{{ event.user_nickname }}" title="{{ event.user_nickname }}" />
				</a>
			</td>
			<td style="vertical-align: middle">
				<p style="margin-left:10px">
			{% if event.event_type == 'thread.new' %}
				ha escrito un hilo titulado <strong><a href="/group.forum/{{ event.thread_url_path }}">{{ event.thread_title }}</a></strong>
				en el grupo <strong><a href="/group/{{ event.group_url_path }}">{{ event.group_title }}</a></strong>
			{% elif event.event_type == 'thread.reply' %}
				ha respondido al hilo titulado
				<strong><a href="/group.forum/{{ event.thread_url_path }}">{{ event.thread_title }}</a></strong>
				del grupo <strong><a href="/group/{{ event.group_url_path }}">{{ event.group_title }}</a></strong>
			{% elif event.event_type == 'item.new' %}
				ha escrito un nuevo artículo titulado <strong><a href="/item/{{ event.item_url_path }}">{{ event.item_title }}</a></strong>
			{% elif event.event_type == 'item.comment' %}
				ha escrito un comentario en el artículo titulado
				<strong><a href="/item/{{ event.item_url_path }}">{{ event.item_title }}</a></strong>
			{% elif event.event_type == 'group.additem' %}
				ha añadido el artículo titulado <strong><a href="/item/{{ event.item_url_path }}">{{ event.item_title }}</a></strong>
				al grupo <strong><a href="/group/{{ event.group_url_path }}">{{ event.group_title }}</a></strong>
			{% elif event.event_type == 'group.new' %}
				ha creado el grupo <strong><a href="/group/{{ event.group_url_path }}">{{ event.group_title }}</a></strong>
			{% elif event.event_type == 'contact.add' %}
				ha añadido a <strong><a href="/user/{{ event.user_to_nickname}}">{{ event.user_to_nickname }}</a></strong>
				a sus contactos
			{% elif event.event_type == 'user.edit' %}
				ha editado <strong><a href="/user/{{ event.user_nickname}}">su perfil</a></strong>
			{% elif event.event_type == 'item.favourite' %}
				ha añadido a sus favoritos el artículo titulado
				<strong><a href="/item/{{ event.item_url_path }}">{{ event.item_title }}</a></strong>
			{% else %}
				tipo de evento desconocido: {{ event.event_type }}
			{% endif %}
				</p>
			</td>
			<td style="text-align:center">
				{% if event.group %}
				<a href="/group/{{ event.group_url_path }}">
					<img src="/images/group/thumbnail/{{ event.group.key().id() }}"
						alt="{{ event.group_title|escape }}" title="{{ event.group_title|escape }}" />
				</a>
				{% elif event.user_to %}
				<a href="/user/{{ event.user_to_nickname }}">
					<img src="/images/user/thumbnail/{{ event.user_to_nickname }}"
						alt="{{ event.user_to_nickname }}" title="{{ event.user_to_nickname }}" />
				</a>
				{% endif %}
			</td>
			<td style="vertical-align: middle"><p style="margin-left:10px">hace {{ event.creation_date|relativize }}</p></td>
		</tr>
	{% endfor %}
		</tbody>
	</table>
	
	{% include 'inc-pagination.html' %}

{% endblock %}