{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "blank.html" %}
{% block title %}
	Iniciar sesión
{% endblock %}

{% block content %}
    <p class="title">Iniciar sesión</p>
	
	{% if error %}
		<p class="center" style="color:red">{{ error }}</p>
	{% endif %}
	
	<form action="/user.login" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="redirect_to" value="{{ redirect_to }}" />
		
		<div class="form">
			<p>
				<label for="nickname">Usuario</label>
				<input id="nickname" type="text" name="nickname" value="{{ nickname }}" style="width:270px" />
			</p>
			<p>
				<label for="password">Contraseña</label>
				<input type="password" name="password" value="" size="30" maxlength="50" style="width:270px" />
			</p>
			<p>
				<input type="checkbox" name="remember" value="remember" /> Recordarme en este equipo
			</p>
			<p><input type="submit" value="Continuar" /></p>
		</div>
	</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8">
	$('nickname').focus()
</script>
{% endblock %}