{% extends "blank.html" %}
{% block title %}
	Cambiar contraseña
{% endblock %}

{% block content %}
	<p class="title">Cambiar contraseña</p>
		<form action="/user.changepassword" method="post" accept-charset="utf-8">

		<input type="hidden" name="redirect_to" value="{{ redirect_to }}" />

		{% if error %}
			<p style="color:red;text-align:center">{{ error }}</p>
		{% endif %}

		<div class="form">
			<p>
				<label for="old_password">Contraseña actual</label>
				<input type="password" name="old_password" value="" size="30" maxlength="50" />
			</p>
			<p>
				<label for="password">Nueva contraseña</label>
				<input type="password" name="password" value="" size="30" maxlength="50" />
			</p>
			<p><input type="submit" value="Cambiar contraseña" /></p>
		</div>

	</form>
{% endblock %}