{% comment %}
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% extends "base.html" %}
{% block title %} Usuario {{ this_user.nickname }} {% endblock %}
{% block content %}
	<div class="grid_9 alpha omega">
		<h1>Usuario {{ this_user.nickname }}</h1>
	</div>
	<div class="clear">&nbsp;</div>

	<div class="grid_3 alpha">
		<div class="box">
			<p class="title">Últimos artículos</p>
			{% if not items %}
				<p style="text-align:center">No hay artículos</p>
			{% else %}
				<ul>
				{% for item in items %}
					<li>
						<strong><a href="/item/{{ item.url_path }}">{{ item.title|escape }}</a></strong>
						<br/><span style="color: #777">por <a href="/user/{{ item.author.nickname|escape}}">{{ item.author.nickname|escape }}</a></span>
					</li>
				{% endfor %}
				</ul>
				<p style="text-align:right"><strong><a href="/user.items/{{ this_user.nickname }}">Ver todos »</a></strong></p>
			{% endif %}
		</div>
	</div>
	<div class="grid_3">
		<div class="box">
			<p class="title">Grupos</p>
			{% if not groups %}
				<p style="text-align:center">No pertenece a ningún grupo</p>
			{% else %}
				<ul>
				{% for group in groups %}
					<li>
						<strong><a href="/group/{{ group.url_path }}">{{ group.title|escape }}</a></strong>
					</li>
				{% endfor %}
				</ul>
				<p style="text-align:right"><strong><a href="/user.groups/{{ this_user.nickname }}">Ver todos »</a></strong></p>
			{% endif %}
		</div>
	</div>
	<div class="grid_3 omega">
		<p>&nbsp;</p>
	</div>
	<div class="clear">&nbsp;</div> 
{% endblock %}