{#
(C) Copyright 2008 Alberto Gimeno <gimenete at gmail dot com>
(C) Copyright 2008 Ignacio Andreu <plunchete at gmail dot com>
(C) Copyright 2008 Néstor Salceda <nestor.salceda at gmail dot com>

This file is part of "debug_mode_on".

"debug_mode_on" is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"debug_mode_on" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with "debug_mode_on".  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Artículos de {{ this_user.nickname }}" href="/feed/user/{{ this_user.nickname }}" />
{% endblock %}

{% block title %} Usuario {{ this_user.nickname }} {% endblock %}

{% block sidebar %}
	<div class="box">
		<p class="title">Sindicación RSS</p>
		<p class="options center"><a href="/feed/user/{{ this_user.nickname }}"><img src="/static/images/feed.png" alt="feed" class="icon" /> Últimos artículos de {{ this_user.nickname}}</a></p>
		<p class="end-box">&nbsp;</p>
	</div>
{% endblock %}

{% block content %}
	<div class="grid_9 alpha omega">
		<div class="info">
			<h1>Usuario {{ this_user.nickname }}</h1>
			<p class="options">
				{% if canadd %}
					{% if is_contact %}
						<span><a id="contact" href="/user.contact?user_to={{ this_user.nickname }}"><img src="/static/images/delete.png" alt="" class="icon" /> Eliminar de contactos</a></span>
					{% else %}
						<span><a id="contact" href="/user.contact?user_to={{ this_user.nickname }}"><img src="/static/images/add.png" alt="" class="icon" /> Añadir a contactos</a></span>
					{% endif %}
				{% endif %}
				{% if user and this_user.nickname != user.nickname %}
					| <a href="/message.edit?user_to={{ this_user.nickname }}"><img src="/static/images/page_white_edit.png" alt="" class="icon" /> Escribir un mensaje a {{ this_user.nickname }}</a>
				{% endif %}
				{% if user.rol == 'admin' %}
					email: <strong><a href="mailto:{{ this_user.email }}">{{ this_user.email }}</a></strong>
				{% endif %}
			</p>
		</div>

	</div>
	<div class="clear">&nbsp;</div>
	<div class="grid_9 alpha omega">
		<div class="grid_2 alpha">
			{% if this_user.image_version %}
				<img src="/images/user/avatar/{{ this_user.nickname }}/{{ this_user.image_version }}" alt="{{ this_user.nickname }}" />
			{% else %}
				<img src="/images/user/avatar/{{ this_user.nickname }}" alt="{{ this_user.nickname }}" />
			{% endif %}
		</div>
		<div class="grid_7 omega">
			{% if this_user.personal_message %}<h6>{{ this_user.personal_message|escape }}</h6>{% endif %}
			<ul>
				{% if this_user.real_name %}<li>Nombre completo: <strong>{{ this_user.real_name|escape }}</strong></li> {% endif %}
				{% if this_user.country %}<li>País: <strong>{{ this_user.country|escape }}</strong></li> {% endif %}
				{% if this_user.city %}<li>Ciudad: <strong>{{ this_user.city|escape }}</strong></li> {% endif %}
				<li>Registrado hace {{ this_user.creation_date|relativize }}</li>
			</ul>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
	<hr class="separator"/>
	<div class="grid_9 alpha omega">
		<strong>Sobre {{ this_user.nickname }}:</strong><br/>
		{% if this_user.about_user %}
			{{ this_user.about_user|escape }}
		{% else %}
			No ha escrito su descripción en el perfil. {% if user.nickname == this_user.nickname %} <a href="/user.edit">Edita tu perfil.</a>{% endif%}
		{% endif %} 
		{% if links %}
			<hr class="separator"/>
			<h4>Enlaces</h4>
			{% for link in links %}
				<div class="grid_3 center {% if loop.index % 3 == 0 %}omega{% elif loop.index % 3 == 1 %}alpha{% endif %}">
					{{ link.0 }}:<br/>
					{% if link.0 == 'blog' %}
						<a href="{{ link.1 }}" target="_blank"><img src="http://api.thumbalizr.com/?url={{ link.1 }}&amp;width=128" alt=""></a>
					{% else %}
						{% if link.0 == 'linkedin' %}
							<a href="{{ link.1 }}" target="_blank"><img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.gif" alt="Mi perfil en LinkedIn"></a>
						{% endif %}
						{% if link.0 == 'ohloh' %}
							  <a href="{{link.1}}"><img src="{{link.1}}/widgets/account_detailed.gif" width="191" height="35" alt="Mi perfil en Ohloh"></a>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
			<div class="clear">&nbsp;</div>
		{% endif %}
		{% if im_addresses and user %}
			<hr class="separator"/>
			<h4>Direcciones de contacto: </h4>
			{% for im_address in im_addresses %}
				<div class="grid_3 center {% if loop.index % 3 == 0 %}omega{% elif loop.index % 3 == 1 %}alpha{% endif %}">
					{{ im_address.0}}:<br/>
					<strong>{{im_address.1}}</strong>
				</div>
			{% endfor %}

		{% endif %}

	</div>
	<div class="clear">&nbsp;</div>
	<div class="grid_9 alpha omega">
		{% if items %}
		<hr class="separator"/>
		<h4>Últimos artículos</h4>
		<table class="grid">
			<thead>
				<tr>
					<th class="left">Título</th>
					<th class="right">Comentarios</th>
					<th class="right">Valoración media</th>
				</tr>
			</thead>
			<tbody>
		{% for item in items %}
			<tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
				<td class="left">
					<strong><a href="/item/{{ item.url_path }}">{{ item.title|escape }}</a></strong>
				</td>
				<td>
					{{ item.responses }}
				</td>
				<td>
					<p class="rating star{{ item.rating_average }}" style="float:right">&nbsp;</p>&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		<p class="more"><a href="/user.items/{{ this_user.nickname }}">Ver todos los artículos »</a></p>
		{% endif %}
		{% if contacts %}
		<hr class="separator"/>
		<h4>Contactos</h4>
		{% for contact in contacts %}
			<div class="grid_1 {% if loop.index % 9 == 0 %}omega{% elif loop.index % 9 == 1 %}alpha{% endif %}">
			<p class="center">
				<a href="/user/{{ contact.user_to_nickname }}">
					<img src="/images/user/thumbnail/{{ contact.user_to_nickname }}"
						alt="{{ contact.user_to_nickname }}"
						title="{{ contact.user_to_nickname }}" />
				</a>
			</p>
			</div>
			{% if loop.index % 9 == 0 %}
			<div class="clear">&nbsp;</div>
			{% endif %}
		{% endfor %}
		<div class="clear">&nbsp;</div>
		<p class="more">
			<a href="/user.contacts/{{ this_user.nickname }}">Ver todos los contactos »</a>
		</p>
		{% endif %}
		{% if groups %}
		<hr class="separator"/>
		<h4>Grupos</h4>
		{% for group in groups %}
			<div class="grid_1 {% if loop.index % 9 == 0 %}omega{% elif loop.index % 9 == 1 %}alpha{% endif %}">
			<p class="center">
				<a href="/group/{{ group.group_url_path }}">
					<img src="/images/group/thumbnail/{{ group.group.key().id() }}"
						alt="{{ group.title }}"
						title="{{ group.group_title }}" />
				</a>
			</p>
			</div>
			{% if loop.index % 9 == 0 %}
			<div class="clear">&nbsp;</div>
			{% endif %}
		{% endfor %}
		<div class="clear">&nbsp;</div>
		<p class="more">
			<a href="/user.groups/{{ this_user.nickname }}">Ver todos los grupos »</a>
		</p>
		{% endif %}
	</div>
	<div class="clear">&nbsp;</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" charset="utf-8">
	{% if canadd %}
	function add_contact() {
		var contact = $('contact');
		var parent = $(contact.parentNode);
		Element.observe(contact, 'click', function(e) {
			href = contact.href + '&x=1';
			parent.innerHTML = '<img class="icon" src="/static/images/spinner.gif" />';
			new Ajax.Request(href, {
				method: 'get',
				onSuccess: function(transport, json) {
					var action = transport.responseText.evalJSON().action;
					if(action == 'deleted') {
						parent.innerHTML = '<a id="contact" href="/user.contact?user_to={{ this_user.nickname }}"><img src="/static/images/add.png" alt="" class="icon" /> Añadir a contactos</a>';
					} else {
						parent.innerHTML = '<a id="contact" href="/user.contact?user_to={{ this_user.nickname }}"><img src="/static/images/delete.png" alt="" class="icon" /> Eliminar de contactos</a>';
					}
					add_contact();
				},
				onFailure: function() {
					parent.innerHTML = 'Ocurrió un error :(';
				}
			});
			Event.stop(e);
		});
	}
	add_contact();
	{% endif %}
</script>
{% endblock %}
