{% extends "blank.html" %}
{% block title %}
	Recuperar la contraseña
{% endblock %}

{% block content %}
	<p class="title">Recuperar contraseña</p>
		<form action="/user.forgotpassword" method="post" accept-charset="utf-8">

		<input type="hidden" name="redirect_to" value="{{ redirect_to }}" />

		{% if error %}
			<p style="color:red;text-align:center">{{ error }}</p>
		{% endif %}

		<div class="form">
			<p>Te enviaremos un enlace en un correo para cambiar tu contraseña</p>
			<p>
				<label for="email">Tu dirección de e-mail</label>
				<input id="email" type="text" name="email" value="" style="width:200px" />
			</p>
			<p><input type="submit" value="Mandar e-mail" /></p>
		</div>

	</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8">
	$('email').focus()
</script>
{% endblock %}